body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.board {
    margin: auto;
    padding: 5px;
    background: #5f5245;
}

.line {
    margin-top: 2px;
    display: flex;
    align-items: center;  
    justify-content: center;
    gap: 2px;
}

.cell {
    height: 50px;
    width: 50px;
    background: rgb(198, 170, 141);
}

.board>:first-child{
    margin-top: 0px;
}

.board>:nth-child(odd)>:nth-child(odd){
    background: rgb(50, 25, 0);
}
.board>:nth-child(even)>:nth-child(even){
    background: rgb(50, 25, 0);
}